body
{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}
#container
{
	width: 1000px;
	margin:0 auto;
}
.error_img
{
	width: 100vh;
}
nav
{
	width: 100%;
	padding:10px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
nav a
{
	margin:0 10px;
}
.question
{
	width: 700px;
	margin:0 auto;
	display: none;
	opacity: 0;
}
.question:nth-child(2)
{
	opacity: 1;
}
.active
{
	display: block;
}
.quiz_title
{
	text-align: center;
	margin-bottom:100px;
	font-size: 50px;
}
.question h2
{
	text-align: center;
}
.answers
{
	width: 700px;
	height: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.answer
{
	width: 45%;
	height: 45%;
	padding-left: 10px;
	color:white;
	font-weight: bold;
	font-size: 24px;
	display: flex;
	align-items: center;
}
.answer:nth-child(1)
{
	background-color: #E21B3C;
}
.answer:nth-child(2)
{
	background-color: #1369CE;
}
.answer:nth-child(3)
{
	background-color: #D99F00;
}
.answer:nth-child(4)
{
	background-color: #2B900E;
}
.summary
{
	display: none;
	width: 700px;
	margin:2px auto 0;
	text-align: center;
	font-size: 40px;
}
.summary_result
{
	color:green;
	font-size: 50px;				
}
.btn_link
{
	margin-top:15px;
	background-color: #f04;
	color:white;
   	padding: 18px 16px 18px 16px;
   	font-size: 20px;
   	text-decoration: none;
}
.quizes_choose
{
	min-height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.quizes_column
{
	width: 450px;
	height: 450px;
}
.quizes_column h2
{
	text-align: center;
}
table
{
	border-collapse: collapse;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}
th
{
	background-color: #6C7AE0;
	color:white;
}
tr,td,th
{
	padding:4px;
	font-size: 19px;
	text-align: center;
}
td a
{
	text-decoration: none;
	color:#808080;
	transition: 0.2s;
}
td a:hover
{
	color:#a2a2a2;
}
tr td:first-child
{
	width: 80px;
}
tr td:last-child
{
	width: 120px;
}
tr:nth-child(odd)
{
	background-color: #F8F6FF;
}
.table_img
{
	width: 30px;
	margin-left: 10px;
	cursor: pointer;
}
.account_functions
{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.single_function
{
	width: 45%;
	background-color: #F7F5FF;
	text-align: center;
	padding:20px 0; 
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
	margin-bottom: 40px;
}
.single_function a
{
	display: block;
	width: 100%;
	height: 100%;
	color:black;
	text-decoration: none;
}
.single_function:hover
{
	box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}
#create_quiz
{
	width:800px;
	margin:0 auto;
}
.form_quiz_name
{
	text-align: center;
}
.form_row
{
	border:1px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form_quiz_question
{
	margin:20px 0;
	text-align: center;
}
.form_answers
{
	border :2px dashed orange;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form_answer_box
{
	width: 45%;
	border:1px dotted green;
}
.edit_quiz_container
{
	width: 700px;
	margin:0 auto;
}
.edit_questions
{
	display: flex;
	flex-direction: column;
}
#quiz_name
{
	cursor: pointer;
}
.single_edit_question
{
	margin-top:20px;
	width: 100%;
	padding: 5px;
	min-height: 30px;
	border-radius:10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.single_edit_question:nth-child(odd)
{
	background-color: #F8F6FF;
}
.edit_answers
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between; 
	width: 100%;
}
.edit_question_ctx
{
	width: 100%;
	padding: 5px 0;
	text-align: center;
	cursor: pointer;
	border:1px dotted grey;
	border-radius: 10px;
}
.single_edit_answer
{
	margin-bottom: 10px;
	width: 45%;
	padding: 5px;
	height: 30px;
	display: flex;
	align-items: center;
	border:1px solid grey;
	border-radius:10px;
	cursor: pointer;
	position: relative;
}
.single_edit_answer input
{
	position: absolute;
	right: 10px;
}
.save_btn
{
	background-color: #f04;
	color:white;
   	padding: 9px 8px 9px 8px;
   	font-size: 14px;
   	border:0;
   	border-radius: 10px;
}